.create-button {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem; /* px-4 py-2 */
  border-radius: 0.375rem; /* rounded */
  transition: background-color 0.3s;
  width: 100%;
  min-width: 100px;
}
.create-button:hover {
  background-color: #2563eb;
}
.map-container {
  position: fixed;
  top: 30px;
  left: max(100px, 10%);
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: max(100px, 10%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
  border-right: 2px solid #000000;
  box-sizing: border-box;
}
.topbar {
  position: fixed;
  top: 0;
  left: max(100px, 10%);
  width: calc(100% - max(100px, 10%));
  height: 30px;
  background-color: #f3f4f6;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
  z-index: 1000;
}
.app-container {
  overflow-y: auto;
}
